$icomoon-font-path: "fonts" !default;

$icon-xp-star-fill-sm: "\e95b";
$icon-xp-heart-fill: "\e95a";
$icon-xp-flag-slant-sm: "\e959";
$icon-xp-calendar-check-sm: "\e957";
$icon-xp-spoon-fork-sm: "\e958";
$icon-xp-laundry: "\e900";
$icon-xp-duck: "\e901";
$icon-xp-pointer: "\e902";
$icon-xp-group: "\e903";
$icon-xp-long-sofa: "\e904";
$icon-xp-sofa: "\e905";
$icon-xp-bed: "\e906";
$icon-xp-microwave: "\e907";
$icon-xp-waiter-path1: "\e908";
$icon-xp-waiter-path2: "\e909";
$icon-xp-waiter-path3: "\e90a";
$icon-xp-waiter-path4: "\e90b";
$icon-xp-waiter-path5: "\e90c";
$icon-xp-waiter-path6: "\e90d";
$icon-xp-waiter-path7: "\e90e";
$icon-xp-waiter-path8: "\e90f";
$icon-xp-waiter-path9: "\e910";
$icon-xp-cloud: "\e911";
$icon-xp-laundry-2: "\e912";
$icon-xp-shield: "\e913";
$icon-xp-wheelchair: "\e914";
$icon-xp-star-fill: "\e915";
$icon-xp-camera: "\e916";
$icon-xp-home: "\e917";
$icon-xp-hotel: "\e918";
$icon-xp-plane: "\e919";
$icon-xp-door-bell: "\e91a";
$icon-xp-hot-spring: "\e91b";
$icon-xp-relax: "\e91c";
$icon-xp-serve-food: "\e91d";
$icon-xp-pet-path1: "\e91e";
$icon-xp-pet-path2: "\e91f";
$icon-xp-pet-path3: "\e920";
$icon-xp-pet-path4: "\e921";
$icon-xp-pet-path5: "\e922";
$icon-xp-pet-path6: "\e923";
$icon-xp-pet-path7: "\e924";
$icon-xp-pet-path8: "\e925";
$icon-xp-phone-fax: "\e926";
$icon-xp-fire-extinguisher: "\e927";
$icon-xp-gym: "\e928";
$icon-xp-elevator: "\e929";
$icon-xp-parking: "\e92a";
$icon-xp-tv: "\e92b";
$icon-xp-med-kit: "\e92c";
$icon-xp-bathtub: "\e92d";
$icon-xp-wifi: "\e92e";
$icon-xp-pool: "\e92f";
$icon-xp-smoke: "\e930";
$icon-xp-hanger: "\e931";
$icon-xp-drinks: "\e932";
$icon-xp-cooler: "\e933";
$icon-xp-like: "\e934";
$icon-xp-heart: "\e935";
$icon-xp-more: "\e936";
$icon-xp-chat: "\e937";
$icon-xp-envelope: "\e938";
$icon-xp-flag: "\e939";
$icon-xp-door: "\e93a";
$icon-xp-door-open: "\e93b";
$icon-xp-door-locked-path1: "\e93c";
$icon-xp-door-locked-path2: "\e93d";
$icon-xp-door-locked-path3: "\e93e";
$icon-xp-door-locked-path4: "\e93f";
$icon-xp-door-locked-path5: "\e940";
$icon-xp-door-locked-path6: "\e941";
$icon-xp-door-locked-path7: "\e942";
$icon-xp-itinerary: "\e943";
$icon-xp-calendar-check: "\e944";
$icon-xp-star-secure: "\e945";
$icon-xp-bank-path1: "\e946";
$icon-xp-bank-path2: "\e947";
$icon-xp-bank-path3: "\e948";
$icon-xp-bank-path4: "\e949";
$icon-xp-bank-path5: "\e94a";
$icon-xp-bank-path6: "\e94b";
$icon-xp-bank-path7: "\e94c";
$icon-xp-bank-path8: "\e94d";
$icon-xp-peso: "\e94e";
$icon-xp-spoon-fork: "\e94f";
$icon-xp-flag-slant: "\e950";
$icon-xp-time: "\e951";
$icon-xp-search: "\e952";
$icon-xp-help: "\e953";
$icon-xp-thought: "\e954";
$icon-xp-case: "\e955";
$icon-xp-star: "\e956";
$icon-icon-up-arrow: "\e95c";
$icon-icon-down-arrow: "\e95d";
$icon-icon-back: "\e95e";
$icon-icon-next: "\e95f";

